//練習所用模板// ************************************************* //
.futuristic-frame.practice{
	.topic-section{
		.btn{
			border-radius: 500px;	
		}
		.card{
			.card-img{
				border-radius: 500px;	
				margin-bottom: 0;
			}
			.task-complete{
				&.all{
					[class*="bookmark"]{
						left: calc(150px/2);
						transform: translateX(-50%);
					}
					[class*="crown"]{
						left: calc(150px/2);
						transform: translateX(-50%);
					}
					&.done{
						[class*="crown"]{
							color: tint-color($practice-color, 20%);
						}	
					}
				}
				&.done{
					color: tint-color($practice-color, 20%);
				}
			}
		}
	}
	.difficulty-section{
		.difficulty-title{
			span{  
				border-top-color: $practice-color;	
				&::before, &::after{ //斜線svg
					background-color: $practice-color; 
				}
			}
			&::before, &::after{  //左右框線
				border-bottom-color: $practice-color;
			}
			&::before{ 
				border-right-color: $practice-color;
			}
			&::after{
				border-left-color: $practice-color;
			}
		}
		.difficulty-btn{
			.task-complete{
				&.easy, &.medium, &.hard{
					&.done{
						color: tint-color($practice-color, 20%);
					}	
				}
			}
		}
	}
	
	.record-summary{
		.record-title{
			span{  
				border-bottom-color: $practice-color;	
			}
			&::before, &::after{  //左右框線
				border-top-color: $practice-color;
			}
			&::before{ 
				border-right-color: $practice-color;
			}
			&::after{
				border-left-color: $practice-color;
			}
		}
		.record-val{
			border-bottom-color: $chat-color;
		}
	}
	.end-animate{
		.end-an{ 
			.end-an-ball{
				.task-complete{
					color: tint-color($practice-color, 20%);
					.done{
						color: tint-color($practice-color, 20%);
					}
				}
			}	
		}
	}
}

.practiceInterface-bar{ 
	display: flex;
	align-items: center;
	width: 70%;
	width: calc(70% + 3rem);
	height: calc(1.5rem + 0.325rem);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	.progress-count{
		color: $primary;
		flex: 1;
		min-width: 3rem;
		text-align: right;
		
	}
	.progress-bar{
		background-color: #fff; 
		width: 100%;
		height: .5rem;
		border-radius: .5rem;
		margin-left: 1.5rem + .5rem;
		margin-right: .5rem;
		padding: 1px;
		.progress-bar-fill{
			background-color: $primary;
			height: .5rem;
			border-radius: .5rem;
		}
	}
	
}

.practiceInterface-topic{ 
	.btn{
		padding: 0 0.375rem;
		transition: none;
	}
	color: $body-color;	
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.practiceInterface-feedback{ 
	display: flex;
    justify-content: center;
	text-align: center;
	i {	
		font-size: 4.25rem;
	}
}
.level-excellent, .speak-excellent{
	color: $teal;
}
.level-good{
	color: $yellow-500;
}
.speak-good{
	color: $yellow-600;
}
.level-fair, .speak-fair{
	color: $red;
}
[class*="level-"]{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 .5rem;
}

.practiceInterface-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
    padding: 1rem;
	margin-bottom: 1rem;
	.btn{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.completion-section.practice{
	.task-complete{
		&.easy, &.medium, &.hard{
			&.done{
				color: tint-color($practice-color, 20%);
			}	
		}
	}
}

.completion-section.practice{
	$prev-color:  rgba($chat-color, .25);	
	.completion-title{
		span{
			background-color: rgba($practice-color, .25);	
		}
		&::before, &::after{  //左右框
			background-color: $prev-color;
		}
	}
	.completion-content{
		background-color: rgba($practice-color, .25);
	}
}