//練習所用模板// ************************************************* //
.futuristic-frame.practice{
	.topic-section{
		.btn{
			border-radius: 500px;	
			&::after{
				border-radius: 500px;
			}
			&:hover{
				&::after{
					transform: scale(1.075, 1.25);
				}
			}
		}
		.card{
			.card-img{
				border-radius: 500px;	
				margin-bottom: 0;
			}
			.task-complete{
				&.all{
					[class*="bookmark"]{
						left: calc(150px/2);
						transform: translateX(-50%);
					}
					[class*="crown"]{
						left: calc(150px/2);
						transform: translateX(-50%);
					}
					&.done{
						[class*="crown"]{
							color: tint-color($practice-color, 20%);
						}	
					}
				}
				&.done{
					color: tint-color($practice-color, 20%);
				}
			}
		}
	}
	.difficulty-section{
		.difficulty-title{
			span{  
				border-top-color: $practice-color;	
				&::before, &::after{ //斜線svg
					background-color: $practice-color; 
				}
			}
			&::before, &::after{  //左右框線
				border-bottom-color: $practice-color;
			}
			&::before{ 
				border-right-color: $practice-color;
			}
			&::after{
				border-left-color: $practice-color;
			}
		}
		.difficulty-btn{
			.task-complete{
				&.easy, &.medium, &.hard{
					&.done{
						color: tint-color($practice-color, 20%);
					}	
				}
			}
		}
	}
	
	.record-summary{
		.record-title{
			span{  
				border-bottom-color: $practice-color;	
			}
			&::before, &::after{  //左右框線
				border-top-color: $practice-color;
			}
			&::before{ 
				border-right-color: $practice-color;
			}
			&::after{
				border-left-color: $practice-color;
			}
		}
		.record-val{
			border-bottom-color: $chat-color;
		}
	}
	.end-animate{
		.end-an{ 
			.end-an-ball{
				.task-complete{
					color: rgba($white, .75);
					&.done{
						color: tint-color($practice-color, 20%);
					}
				}
			}	
		}
	}
}

.practiceInterface-topic{ 
	.btn{
		padding: 0 0.375rem;
		transition: none;
	}
	color: $body-color;	
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.practiceInterface-feedback{ //not feedback, is explain.
	display: inline-flex;
    justify-content: center;
	text-align: center;	
	font-size: .9rem;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding: .5rem;
	margin: 0 auto;
	border-radius: $border-radius;
	margin-bottom: 4rem*3;
	i {	
		font-size: 1.25em;
		margin-right: .25rem;
	}
}
.level-excellent, .speak-excellent{
	color: $teal;
}
.level-good{
	color: $yellow-500;
}
.speak-good{
	color: $yellow-600;
}
.level-fair, .speak-fair{
	color: $red;
}
[class*="level-"]{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 0 .5rem;
}

.practiceInterface-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
    padding: 1rem;
	margin-bottom: 1rem;
	.btn{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

.completion-section.practice{
	.task-complete{
		&.easy, &.medium, &.hard{
			&.done{
				color: tint-color($practice-color, 20%);
			}	
		}
	}
}

.completion-section.practice{
	color: $practice-color;
	.completion-title{
		span{
			background-color: rgba($practice-color, .25);	
		}
		&::before, &::after{  //左右框
			background-color: rgba($practice-color, .25);
		}
	}
	.completion-content{
		background-color: rgba($practice-color, .25);
	}
}

.log-modal.practice{
	color: $practice-color;
	
	.log-accordion1{
		> .accordion-item{
			> .accordion-header{
				> .accordion-button{
					&:hover{
						background-color: rgba($practice-color, .25);
					}
					&:not(.collapsed){
						background-color: rgba($practice-color, .1);
					}
				}	
			}
			> .accordion-collapse{
				&.collapse.show {
					background-color: rgba($practice-color, .1);	
				}
			}
		}
	}
}



