.index-banner{
	background-color: $purple;
	background-image: url("../images/index/banner-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 37.96875%;
}
[class*="index-section"]{
    h3{
        font-size: 1.8rem; 
        font-weight: 700; 
        color: $teal;
    }
    p{
        font-size: 1.1rem;
        font-weight: 400;
    }
}
.index-section1{
    background-color: $gray-100;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .section1-bg{   
    @media screen and (min-width: 1200px) {  
    background-image: url("../images/index/section1-circleLine.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center; 
    }   
    }   
    h2{
        >img{
            width: 100%;
            max-width: 320px;    
        }
        >small{
            display: block;
            color: $purple;
            font-size: 1rem; 
            padding-top: .5rem;
            padding-left: .5rem;
        } 
    }
    h3{
        line-height: 1.8;
    }
    .section1-circleText{ 
        padding-top: 3rem;
        @media screen and (min-width: 1200px) {
        padding-bottom: 8rem;    
        }
    }
    .section1-btnArea{
        .section1-btn{ 
            display: inline-block;
            margin: .75rem 0;
            position: relative;
            width: 100%;
            @media screen and (min-width: 1200px) { 
            width: calc(100% - 3rem - 2rem); 
            max-width: 540px;
            margin-left: 3rem + 2rem;
            &::before{
                content: "";
                display: inline-block;
                width: 2rem;
                height: .25rem;
                background-color: #444;
                position: absolute;
                left: -2rem;
                top:50%;
                margin-top: -.125rem;
            }
            &::after{
                content: "";
                display: inline-block;
                width: 3rem;
                height: 3rem;
                background-size: 100% 100%;
                position: absolute;
                left: -5rem;
                top:50%;
                margin-top: -1.5rem;
            }
            }
            >a{ 
                display: flex; 
                align-items: center;
                background-color: #FFF;
                width: calc(100% - 1.1rem);
                height: 6.6em;
                border-radius: 6.6rem;
                filter: drop-shadow(5px 5px 5px rgba(0,0,0, .5));
                position: relative;
                text-decoration: none;
                .section1-btn-icon{
                    margin-left: 4%;
                    width: 4.3rem;
                    height: 4.3rem;
                    margin-right: 4%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    filter:drop-shadow(5px 5px 5px rgba(0,0,0, .5)); 
                }
                .section1-btn-logo{
                    width: 100%; 
                    padding-right: calc(1.1rem + 4%);
                    max-height: 6rem;
                    margin-top: .3rem;
                    margin-bottom: .3rem;
                    text-align: center;
                    color: $gray-700;
                    line-height: 1.2;
                    @media screen and (min-width: 576px) {
                    letter-spacing: .25em;    
                    }
                    > img{  
                        margin: 0 auto;
                    }
                    font-size: 1.5rem;
                    font-weight: bold;
                    >small{
                        display: block;
                        font-weight: normal;
                    }
                }
                .section1-btn-go{
                    width: 2.2rem;
                    height: 2.2rem;
                    line-height: 2rem;
                    border-radius: 100%;
                    color: #FFF;
                    text-align: center;
                    background-color: #444;
                    position: absolute;
                    right:-1.1rem;
                    top:50%;
                    margin-top: -1.1rem; 
                }
            }
            >a:hover{
                >.section1-btn-go{
                   transform:scale(1.2);
                }
            }
        }
        .section1-btn.speaking{ 
            >span{ 
                background-color: $purple; 
            }
            &::before{ 
                background-color: $purple; 
            }
            &::after{ 
                background-image: url("../images/index/dot-speaking.svg"); 
            }
            >a{ 
                >.section1-btn-go{ background-color: $purple;} 
            }
            >a:hover{ 
                background-color: $purple-100;
                .section1-btn-logo{ color: $purple; }
            }
        }
        .section1-btn.writing{ 
            >span{
                background-color: $teal;
            }
            &::before{
                background-color: $teal;
            }
            &::after{ 
                background-image: url("../images/index/dot-writing.svg");
            }
            >a{
                >.section1-btn-go{ background-color: $teal;}
            }
            >a:hover{ 
                background-color: $teal-100;
                .section1-btn-logo{ color: $teal; }
            }
        }
        @media screen and (min-width: 1200px) {
        .section1-btn.speaking{ margin-left: calc(3rem + 2rem - 1.8rem);}
        .section1-btn.writing{ margin-left: calc(3rem + 2rem - 5.5rem);}   
        }
    }
    h3{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 15px;
    }
    p{
        margin-bottom: 2rem;
        padding-left: 15px;
        @media screen and (min-width: 992px) {
        padding-right: 30px;
        }
        @media screen and (min-width: 1200px) {
        padding-right: 60px;
        }
    }
}
