.index-banner{
	background-color: $purple;
	background-image: url("../images/index/banner-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 37.96875%;
}
[class*="index-section"]{
    .section1-title{
        font-size: 1.8rem; 
        font-weight: 700; 
        color: $teal;
    }
    p{
        font-size: 1.1rem;
        font-weight: 400;
    }
}
.index-section1{
    background-color: $gray-100;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .section1-bg{   
    @media screen and (min-width: 1200px) {  
    background-image: url("../images/index/section1-circleLine.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left 50% center; 
    }  
		@media screen and (min-width: 1400px) {  
    background-position: left calc(50% + 5rem) center; 
    }  	
    }   
    h2, .section1-title{
			line-height: 1.8;
			padding-left: .75rem;
			padding-right: .75rem;
			@media screen and (min-width: 992px) {
			padding-left: 1.5rem;	
			padding-right: 1.5rem;
			}
			@media screen and (min-width: 1200px) {
			padding-left: 0;		
			white-space: nowrap;
			}
			>img{
					width: 100%;
					max-width: 320px;    
			}
			>small{
					display: block;
					color: $purple;
					font-size: 1rem; 
					padding-top: .5rem;
					padding-left: .5rem;
			} 
		}
    .section1-circleText{ 
        padding-top: 3rem;
        @media screen and (min-width: 1200px) {
        padding-bottom: 8rem;    
        }
    }
    .section1-btnArea{
        .section1-btn{ 
            display: inline-block;
            margin: .75rem 0;
            position: relative;
            width: 100%;
            @media screen and (min-width: 1200px) { 
            width: calc(100% - 3rem - 2rem); 
            max-width: 540px;
            margin-left: 3rem + 2rem; //按鈕前 圓圈跟線的寬度
            &::before{
                content: "";
                display: inline-block;
                width: 2rem;
                height: .25rem;
                background-color: #444;
                position: absolute;
                left: -2rem;
                top:50%;
                margin-top: -.125rem;
            }
            &::after{
                content: "";
                display: inline-block;
                width: 3rem;
                height: 3rem;
                background-size: 100% 100%;
                position: absolute;
                left: -5rem;
                top:50%;
                margin-top: -1.5rem;
            }
            }
            >a{ 
                display: flex; 
                align-items: center;
                background-color: #FFF;
                width: calc(100% - 1.1rem);
                height: 6.6em;
                border-radius: 6.6rem;
                filter: drop-shadow(5px 5px 5px rgba(0,0,0, .5));
                position: relative;
                text-decoration: none;
                .section1-btn-icon{
                    margin-left: 4%;
                    width: 4.3rem;
                    height: 4.3rem;
                    margin-right: 4%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    filter:drop-shadow(5px 5px 5px rgba(0,0,0, .5)); 
                }
                .section1-btn-logo{
                    width: 100%; 
                    padding-right: calc(1.1rem + 4%);
                    max-height: 6rem;
                    margin-top: .3rem;
                    margin-bottom: .3rem;
                    text-align: center;
                    color: $gray-700;
                    line-height: 1.2;
                    @media screen and (min-width: 576px) {
                    letter-spacing: .125em;    
                    }
                    > img{  
                        margin: 0 auto;
                    }
                    font-size: 1.5rem;
                    font-weight: bold;
                    >small{
                        display: block;
                        font-weight: normal;
                    }
                }
                .section1-btn-go{
                    width: 2.2rem;
                    height: 2.2rem;
                    line-height: 2rem;
                    border-radius: 100%;
                    color: #FFF;
                    text-align: center;
                    background-color: #444;
                    position: absolute;
                    right:-1.1rem;
                    top:50%;
                    margin-top: -1.1rem; 
                }
            }
            >a:hover{
                >.section1-btn-go{
                   transform:scale(1.2);
                }
            }
        }
        .section1-btn.speaking{ 
            >span{ 
                background-color: $purple; 
            }
            &::before{ 
                background-color: $purple; 
            }
            &::after{ 
                background-image: url("../images/index/dot-speaking.svg"); 
            }
            >a{ 
                >.section1-btn-go{ background-color: $purple;} 
            }
            >a:hover{ 
                background-color: $purple-100;
                .section1-btn-logo{ color: $purple; }
            }
        }
        .section1-btn.writing{ 
            >span{
                background-color: $teal;
            }
            &::before{
                background-color: $teal;
            }
            &::after{ 
                background-image: url("../images/index/dot-writing.svg");
            }
            >a{
                >.section1-btn-go{ background-color: $teal;}
            }
            >a:hover{ 
                background-color: $teal-100;
                .section1-btn-logo{ color: $teal; }
            }
        }
				.section1-btn.robot{ 
            >span{
                background-color: $green;
            }
            &::before{
                background-color: $green;
            }
            &::after{ 
                background-image: url("../images/index/dot-robot.svg");
            }
            >a{
                >.section1-btn-go{ background-color: $green;}
            }
            >a:hover{ 
                background-color: $green-100;
                .section1-btn-logo{ color: $green; }
            }
        }
			  @media screen and (min-width: 1200px) {
        .section1-btn.speaking{ margin-left: calc(3rem + 2rem - .5rem);}
        .section1-btn.writing{ margin-left: calc(3rem + 2rem - .5rem - 3rem);}  
				.section1-btn.robot{ margin-left: calc(3rem + 2rem - .5rem - 3rem - 2rem - 3rem - .5rem);}  		
        }
        @media screen and (min-width: 1400px) {
        .section1-btn.speaking{ margin-left: calc(3rem + 2rem - .5rem + 5rem);}
        .section1-btn.writing{ margin-left: calc(3rem + 2rem - .5rem - 3rem + 5rem);}  
				.section1-btn.robot{ margin-left: calc(3rem + 2rem - .5rem - 3rem - 2rem - 3rem - .5rem + 5rem);}  
        }
    }
    h3{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 15px;
    }
    p{ 
			  padding-left: .75rem;
				padding-right: .75rem;
			  @media screen and (min-width: 992px) {
				padding-left: 1.5rem;	
				padding-right: 1.5rem;
				}
			  @media screen and (min-width: 1200px) {
				padding-left: 0;	
				padding-right: 5rem;	
				}
    }
}

//2026
.section-title{ 
	font-size: 1.25rem;
	position: relative;
	padding: .5rem 0;
	margin-bottom: 1rem;
	> small{
		font-size: 1.25rem;
		text-transform: uppercase;
		color: $primary;
		margin-left: .25rem;
	}
	&::after{
		content: "";
		display: block;
		width: 75%;
		height: 2px;
		background: linear-gradient(to right,  $secondary 0%, transparent 100%); 
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.index-news{
	$news-margin: 7.5rem;
	position: relative;
	z-index: $zindex-sticky+1; //1020+1
	overflow: hidden;
	@media screen and (min-width: 992px) {
	margin-top: $news-margin*(-3/5); 		
	}	
	@media screen and (min-width: 1400px) {
	margin-top: $news-margin*(-4/5); 		
	}
	@media screen and (min-width: 1800px) {
	margin-top: $news-margin*(-5/5); 		
	}
	> [class*="container"] > .row > [class*="col"]{ 
		background: $white; 
		padding-top: map-get($spacers, 2);
	  padding-bottom: map-get($spacers, 3);
		position: relative;	
		&::before, &::after{ 
			content: "";
			display: block;
			width: 0;
			height: calc(7.5rem + 1px);	
			padding-left: calc((7.5rem + 1px)*(300/130));	
			position: absolute;
			top: 0;	
			background-image: url("../images/index/news-side-bg.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
		&::before{	
			left: 0; 
			transform-origin: left top;
			transform: rotateY(180deg);
		}
		&::after{ 	
			right: 0; 
			transform: translateX(100%);
		}
	}
	.section-title{ 
		display: flex;
		margin-bottom: .5rem;
		.more-link{
			margin-left: auto;
		}
	}
	.list-group{ 
		--bs-list-group-color: var(--bs-gray-800);
		--bs-list-group-bg: transparent;
		--bs-list-group-border-color: rgba(0, 0, 0, 0);
		--bs-list-group-item-padding-x: 0;
		--bs-list-group-item-padding-y: 0;
		.list-group-item a{
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: $gray-800;
			&:hover{
				color: $secondary;	
			}
		}
	}
	.list-group-flush{
		.list-group-item{
			border-color: transparent;
		}
	}
	.news-label{
		margin-right: .25em;
		&::before{
			content: "[";
		}
		&::after{
			content: "]";
		}
	}
}

.owl-carousel{
	.owl-nav{
		width: auto;
		position: absolute;
		top: 0;
		right: -.25rem;
		transform: translateY( calc(-100% - .5rem) );
		button.owl-prev, button.owl-next{
			font-size: .8rem;
			width: .8rem*1.8;
			height: .8rem*1.8;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			color: $secondary;
			border: 1px solid $secondary;
			margin: .25rem;
			&:hover{
				background-color: tint-color($secondary, 80%);
			}
			&.disabled, &:disabled{
				opacity: .25;
				&:hover{
					background-color: none;
				}
			}
		}
	}
}

.index-video{
	padding-top: map-get($spacers, 5);
	padding-bottom: map-get($spacers, 5);
}

.index-download{
	padding-top: map-get($spacers, 5);
	padding-bottom: map-get($spacers, 5);
	.download-carousel{
		.item{
			@mixin downloadBtnStyles($color, $icon) {	
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				border-radius: $border-radius-lg;
				border-width: 5px;
				border-color: rgba($white, .5);
				text-shadow: 0 0 5px rgba($black, .45);
				background-color: $color;
				&::before{ //一般下載
					content: "#{$icon}";
					font-family: "Font Awesome 6 Free"; 
					display: flex;
					justify-content: center;
					align-items: center;
					width: 2em;
					height: 2em;
					border-radius: 100%;
					background-color: $white;
					font-size: 2em;
					font-weight: 900;
					color: $color;
					margin: .25em auto;
					text-shadow: none;
					box-shadow: 0 0 5px rgba($black, .25);
				}
				&:hover{
					background-color: shade-color($color, $btn-hover-bg-shade-amount);	
				}
			}
			.btn{
				@include downloadBtnStyles($secondary, "\f063");	
			}
			.btn[data-file-type="file"]{//文件下載
				@include downloadBtnStyles($blue, "\f56d");
			}
			.btn[data-file-type="word"]{//word下載
				@include downloadBtnStyles(#2b579a, "\f1c2");
			}
			.btn[data-file-type="excel"]{//excel下載
				@include downloadBtnStyles(#217346, "\f1c3");
			}
			.btn[data-file-type="csv"]{//csv下載
				@include downloadBtnStyles(lighten(#217346, 10%), "\f6dd");
			}
			.btn[data-file-type="powerpoint"]{//powerpoint下載
				@include downloadBtnStyles(#b7472a, "\f1c4");
			}
			.btn[data-file-type="pdf"]{//pdf下載
				@include downloadBtnStyles(#b30b00, "\f1c1");
			}
			.btn[data-file-type="cloud"]{//雲端下載
				@include downloadBtnStyles(#4FC3F7, "\f0ed");
			}
			.btn[data-file-type="pen"]{//檔案填寫
				@include downloadBtnStyles(#F9A825, "\f31c");
			}
		}
		.owl-stage{
			display: flex;
			.owl-item{
				.item{
					width: 100%;
				  height: 100%;
				}
			}
		}
	}
}
.index-download.download-float{
	.section-title{
		display: none;
	}
	.download-carousel{ 
		.item{
			.btn{
				position: fixed;
				top: 100px;
				right: map-get($spacers, 3);
				z-index: $zindex-sticky+1; //1020+1
				max-width: 7.8rem;
				transform: scale(.75);
				transform-origin:  top right;
				box-shadow: $box-shadow; 
				width: 8rem;
				height: auto;
				max-width: none;
			}
		}
	}
}