.page-banner.news{  
    height: 300px;
    background-color: $primary;
    background-image: url("../images/news/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    h2{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 3rem;
        font-weight: 700;   
        text-shadow: 0 0 8px rgba(0,0,0, .5);
        letter-spacing: .1em;   
        backdrop-filter: blur(3px);
    }
}
.news-date{
    --bs-badge-padding-x: 1em;
    font-weight: 600;
    margin-right: .5rem;
    margin-top: calc(((1.25rem*1.5) - (.75em + .35em*2))/2);
    letter-spacing: .05em;
}
.news-list{
    .list-group-item{
        --bs-list-group-item-padding-y: .75rem;
        --bs-list-group-item-padding-x: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-start;  
        flex-direction: row;    
        }
    }
    .news-date{
        margin-bottom: .25rem;    
    }
    .news-title{
        font-size: 1.25rem;
        line-height: 1.5;
    }
}
.news-content{
    .news-content-title{
        display: flex;
        flex-direction: column;
        align-items: center;    
        margin-top: 1rem;
        margin-bottom: 1rem;
        .news-date{
            margin-bottom: .5rem;
        }
        .news-title{
            font-size: 2rem;
            line-height: 1.4;
        }
    }
}
