.completion-section{
	text-align: center;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	.completion-title{
		font-size: 1.25rem;
		font-weight: 500;
		color: $body-color;
		display: flex;
		justify-content: center;
		$dge-space: 1.125em;
		$section-space: .2em;
		span{  
			min-width: 5em;
			padding: .5rem 2rem 0 2rem;
			position: relative;
			clip-path: polygon(	$dge-space 					$section-space, 
								calc(100% - #{$dge-space}) 	$section-space, 
								100% 						calc(100% + 1px), 
								0% 							calc(100% + 1px) );
			background-color: rgba($primary, .5);	
			
		}
		&::before, &::after{  //左右框
			content: "";
			display: block;
			flex: 1;
			background-color: rgba($primary, .5);
		}
		&::before{  
			margin-right: $dge-space*-1;
			clip-path: polygon(	0%													0%, 
								calc(100% - #{$section-space}) 						0%, 
								calc(100% - #{$section-space} - #{$dge-space}) 		calc(100% - #{$section-space}), 
								0% 													calc(100% - #{$section-space}) );
		}
		&::after{
			margin-left: $dge-space*-1;
			clip-path: polygon( $section-space								0%, 
								100% 										0%, 
								100% 										calc(100% - #{$section-space}), 
								calc(#{$section-space} + #{$dge-space}) 	calc(100% - #{$section-space}));
		}
		
	}
	.completion-content{
		background-color: rgba($primary, .5);
		padding: 1rem;
		color: $primary;
		.completion-bar{ 
			display: inline-block;
			border-radius: 100%;
			padding: 3px;
			background: conic-gradient($primary                                      0% calc(var(--completed)/var(--total)*100%), 
									   #fff calc(var(--completed)/var(--total)*100%) 100%);
			transform: scale(1.75);
			margin: calc(6px + 1rem);
			
			.task-complete{
				border: 3px solid #fff;
			}
		}
	}
}
.completion-section .completion-title:nth-of-type(1){
	&::before, &::after{  //左右框
		background-color: transparent;
	}
}
.completion-content + .completion-content{
	margin-top: 0.2em;
}


.log-modal{
	--bs-modal-bg: transparent;
	$dge-space: 1.125em;
	$section-space: 0;
	$accordion1-img-width: 2.5rem;
	color: $primary;
	.modal-header{
		padding-bottom: 0;
	}
	.modal-body{
		padding-left: 1.5rem;
   	padding-right: 1.5rem;
		padding-bottom: 2rem;
		@include scrollbarStyles;
		@media screen and (min-width: 992px) {
		padding-left: 3rem;
   	padding-right: 3rem;	
		}
	}
	
	.log-title{
		text-align: center;
		.topic-title{
			margin-bottom: .5rem;
		}
	}
	.log-frame{
		background-color: #fff;
		border: .325rem solid currentColor;
		border-radius: $border-radius-xl;
		overflow-y: auto;
    flex: 1;
		@include scrollbarStyles;
		&::-webkit-scrollbar-thumb {
			background-color: currentColor;
			border-left: 2px solid #fff;
			border-right: 2px solid #fff;
		}
	}

	.log-list{ //左邊清單
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		&::before{
			content: "";
			display: block;
			width: 1.5rem;
			height: 75%;
			background-color: currentColor;
			position: absolute;
			top: 50%;
			left: calc(var(--bs-gutter-x)*.5);
			transform: translate( -100%, calc(-50% + 1rem) );
			clip-path: polygon(0 $dge-space, 100% 0%, 100% 100%, 0 calc(100% - #{$dge-space}));
			@media screen and (min-width: 992px) {
			width: 2rem;
			}
		}
		&::after{
			content: "";
			display: block;
			width: 1.5rem;
			height: 75%;
			background-color: currentColor;
			position: absolute;
			top: 50%;
			right: calc(var(--bs-gutter-x)*.5);
			transform: translate( 100%, calc(-50% + 1rem) );
			clip-path: polygon(0 0, 100% $dge-space, 100% calc(100% - #{$dge-space}), 0 100%);
			@media screen and (min-width: 992px) {
			width: 2rem;
			}
		}
	}
	.log-text{ //右邊內容
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 1rem;
		padding-bottom: 1rem;
		position: relative;
		@media screen and (min-width: 992px) {
		padding-top: 2.5rem;
		padding-bottom: 0;
		}
		.log-frame{ 
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 90%, 2rem calc(90% - #{$dge-space}), 2rem calc(9% + #{$dge-space}), 0% 9%);
			&::before{
				content: "";
				display: block;
				width: 2rem;
				height: calc( ((100% - 1rem*2)*.9) - ((100% - 1rem*2)*.09) + .325rem*2);
				background-color: currentColor;
				position: absolute;
				top: calc(1rem + ((100% - 1rem*2) *.09) - .325rem*.75);
				left: calc(.325rem + var(--bs-gutter-x)*.25);
				clip-path: polygon(0 0, 100% $dge-space, 100% calc(100% - #{$dge-space}), 0 100%);
				@media screen and (min-width:992px) {
				height: calc( ((100% - 1rem*2)*.9) - ((100% - 1rem*2)*.09) + .325rem*1);
				top: calc(2.5rem + ((100% - 2.5rem) *.09) - .325rem*1);
				left: calc(.325rem + var(--bs-gutter-x)*.5);
				}
			}
			
			.log-txt{
				color: $body-color;
				//white-space: pre-wrap;
				padding: 1rem 1.25rem 1rem 2rem + 1.25rem;
				//font-size: .9rem;
			}
		}
	}
	
	
	.log-accordion1{
		--bs-accordion-border-color: transparent;
		.accordion-img{
			width: $accordion1-img-width;
			border-radius: 0 500px 500px 500px;
			overflow: hidden;
			margin-right: .5rem;
		}
		.accordion-topic{
			display: flex;
			flex-wrap: wrap;
			flex: 1;
			flex-direction: column;
			.accordion-title{
				margin-right: .25rem;
				font-weight: 500;
			}	
		}

		> .accordion-item{
			> .accordion-header{
				> .accordion-button{
					&:focus {
						border-color: transparent;
						box-shadow: none;
					}
					&:hover{
						border-color: transparent;
						box-shadow: none;
						background-color: rgba($primary, .25);
						color: $primary;
					}
					&:not(.collapsed){
						background-color: rgba($primary, .1);
						padding-bottom: 0;
					}
					&::after{
						background-image: none;
					}
				}	
			}
			> .accordion-collapse{
				&.collapse.show {
					background-color: rgba($primary, .1);	
				}
				> .accordion-body{
					padding-top: 0;
					padding-left: calc(#{$accordion1-img-width} + .5rem);
					padding-right: 0;
				}
			}
		}
	}
	.log-accordion2{
		--bs-accordion-bg: transparent;
		--bs-accordion-border-color: transparent;
		> .accordion-item{
			> .accordion-header{
				> .accordion-button{
					background-color: transparent;
					padding-top: calc(#{$accordion-button-padding-y}*.75);
					padding-bottom: calc(#{$accordion-button-padding-y}*.75);
					flex-direction: row-reverse;
					justify-content: flex-end;
					&:focus {
						border-color: transparent;
						box-shadow: none;
					}
					&:hover{
						border-color: transparent;
						box-shadow: none;
						color:$primary;
					}
					&::after{
						margin-left: 0;
						margin-right: .25rem;
						transform: rotate(-90deg);
					}
					&:not(.collapsed){
						padding-bottom: 0;
						&::after {
							transform: rotate(0deg);
						}
					}
				}
			}
			> .accordion-collapse{
				> .accordion-body{
					padding-top: 0;
					padding-bottom: 0;
					padding-right: 0;
				}
			}
		}
	}
	
	.list-group {
		--bs-list-group-bg: transparent;
		--bs-list-group-border-color: rgba(0, 0, 0, 0);
		--bs-list-group-action-hover-color: #{$primary};
		--bs-list-group-action-hover-bg: transparent;
		--bs-list-group-action-active-color: #{$primary};
		--bs-list-group-action-active-bg: transparent;
		--bs-list-group-active-color: #{$primary};
		--bs-list-group-active-bg: transparent;
		--bs-list-group-active-border-color: transparent;
		.list-group-item{
			padding-left: calc(#{$accordion-icon-width} + .25rem);
		}
	}	
}



//202608 BOT writing

//對話紀錄 右邊樣式
.log-text.history-log{
	.log-frame {
		background-color: tint-color($primary, 95%);
		.log-txt{
			.chatInterface-content{
				font-size: $font-size-sm;	
				.chatInterface-frame{
					padding: 1rem 0;	
				}
			}
		}
	}
}
//完成作品 右邊樣式
.log-text.history-complete{
	.log-frame {
		.log-txt{
			.frameBlock-manuscript{
				padding: 0;
				clip-path: none;
				&::before{
					border-top: 2rem solid $primary-500;
					border-left: 2rem solid transparent;
					top: -1rem;
					right: -1.25rem;	
				}
				.manuscript-body{
					font-size: $font-size-sm;	
					padding: .5rem;
					p{
						cursor: default;	
						pointer-events: none;
					}
				}
			}
		}
	}	
}
//語言修改建議 右邊樣式
.log-text.history-suggest{
	.log-frame {
		background-color: tint-color($yellow, 90%);
		.log-txt{
			.frameBlock-edithistory {
				background-color: transparent;
				border: 0;
				border-radius: 0;
				margin-top: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				.edithistory-body{
					font-size: $font-size-sm;	
					padding: .5rem;
					&.original{
						del{
							color: $danger;
							background-color: rgba($danger, .25);
						}
						strong{
							background-color: rgba($success, .25);
							font-weight: $font-weight-normal;
						}	
					}
				}
				.edithistory-body + .edithistory-header{
					margin-top: $spacer;
					+ .edithistory-body{
						strong{
							color: $body-color;
							font-weight: $font-weight-semibold;
						}	
					}
				}
			}
		}
	}	
}


//對話紀錄、完成作品、語言修改建議 標題樣式

.history-log, .history-complete, .history-suggest{
	[class*="-header"] {
		border-bottom: 1px solid rgba($primary, .5);
		color: $primary-600;
		font-size: $font-size-base;
		font-weight: 500;
		margin-bottom: $spacer*.75;
		padding-bottom: .25rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		.header-difficulty{
			background-color: $primary;
			border-radius: $border-radius-pill;
			color: $white;
			font-size: $sub-sup-font-size;
			margin-left: .25rem;
			padding: 0 .5em;
		}
		.header-date{
			color: $text-muted;
			font-size: $sub-sup-font-size;
			margin-left: auto;		
		}
	}
}







