input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active  {
    -webkit-text-fill-color: $gray-700;
    -webkit-box-shadow: 0 0 0 1000px rgba(139,213,220,.2) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.sr-only-goContent{
	background-color:$primary;
	color: #FFF;
	position: absolute !important;
	top: 0;
	left: 0;
	text-decoration: none;
	font-size: 1rem;
	padding: .25rem .5rem 0 .25rem;
    z-index: 5000;    
	&:active, &:focus {
		position: static;
		width: auto !important;
		height: auto !important;
		margin: 0;
		overflow: visible;
		clip: auto;
	}
}

.tooltip-inner{
    text-align: left;
}

.btn{
    &:disabled,
    &.disabled,
    &disabled, &[disabled="disabled"]{
        filter: opacity(.5);    
    }
}
.btn__circle{
    border-radius: 100%;
    width: calc(2em + 1rem + 1rem - 2px);
    height: calc(2em + 1rem + 1rem - 2px);
    display: inline-flex;
    align-items: center; 
    justify-content: center;  
}
.btn{
	outline: 1px solid var(--bs-btn-border-color);
	transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
	&:hover{
		outline-color: transparent !important;
		outline-offset: 15px;
    }
}

.style-h3{
    color: $primary;
    font-weight: bold;
    background-color: tint-color($primary, 80%);
    border-radius: 4em;
    padding-top: .5rem;
    padding-bottom: .5rem; 
    text-align: center;
    margin-bottom: 1rem;
}
/*.style-marker{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .9rem;
    color: $gray-600;
    .marker-circle{
        display: inline-block;
        width: .9rem;
        height: .9rem;
        border-radius: 100%;
        background-color: $decoration;
        margin-right: .25rem;
    }
}*/
.min-ratio{
    @media screen and (min-width: 992px) {
        height: 100% !important;
    }    
}

/* ************************************************* */
.lightboxModal{
    display: block;
    position: relative;
    &::after{
        content: "\f00e";
        font-family: "Font Awesome 6 Free"; 
	    font-weight: 900;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        color: $primary;
        font-size: 1.5em;
        line-height: 1;
    }
    &:hover {
        cursor: pointer;
        filter:brightness(.8);
    }
}
#lightboxModal{
    .modal-dialog{
        .modal-content{
            background-color: transparent;
            border-color: transparent;
        }
    }
}
#lightboxModal.lightbox2{
    .modal-dialog{
        .modal-content{
            img{
                max-height: 90vh ;
                max-height: calc(100vh - 1.75rem - 1rem - 1.5rem - 1.5rem);
                margin: 0 auto;
                display: block;
            } 
        }
    }     
}

/* ************************************************* */
.task-complete{
	z-index: 9;
	&.all{
		position: relative; 
		[class*="bookmark"]{
			font-size: 2rem;
			color: #fff;
			text-shadow: 1px 1px $primary-200, -1px -1px $primary-200, -1px 1px $primary-200, 1px -1px $primary-200;
			position: relative;
		}
		[class*="crown"]{
			color: $primary;
			font-size: .95rem;
			position: absolute;
			top: .325em;
			left: 0;
		}
		&.done{
			[class*="bookmark"]{
				color: $body-color;
				text-shadow: none;
			}	
		}
	}
	&.easy, &.medium, &.hard{
		width: 2.5rem;
		height: 2.5rem;
		font-size: 2.5rem;
		border-radius: 100%;
		background-color: #FFF;
		border: 1px solid $primary-200;
		color: $primary-200;
		display: flex;
		justify-content: center;
		align-items: center;
		i{
			font-size: .6em;
		}
		&::after{
			content: "";
			display: block;
			font-size: .2em;
			font-weight: bold;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $primary;
			text-shadow: 0 0 2px rgba(0,0,0, .25);
		}
		&.done{
			background-color: $primary;	
			color: $body-color;
			&::after{
				color: #fff;
				text-shadow: 0 0 2px rgba(0,0,0, .5);
			}
		}
	}
	&.easy::after{
		content: "Easy";
	}
	&.medium::after{
		content: "Medium";
	}
	&.hard::after{
		content: "Hard";
	}	
}

.btn-translate{ 
	position: relative;
	[class*="a"]{
		width: 1.25em;
		height: 1.25em;
		font-size: .8em;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	[class*="globe"]{
		width: 1.25em;
		height: 1.25em;
		font-size: .8em;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	&[data-state="toShow"]{
		[class*="a"]{
			background-color: $primary;
			color: #fff;
			
		}
		[class*="globe"]{
			background-color: transparent;
			color: $primary;
			
		}	
	}
	&[data-state="toHide"]{
		[class*="a"]{
			background-color: transparent;
			color: $primary;
			
		}
		[class*="globe"]{
			background-color: $primary;
			color: #fff;
			
		}	
	}
}