.footer{
    position: relative;
    z-index: 1030;
	
}

.footer-info{
	background-color: $purple-700;
	color: #FFF;
	padding-top: 1rem;
	padding-bottom: .5rem;
	text-align: center;
	@media screen and (min-width: 992px) {
	text-align: left;	
	}
	.footer-info__info{ 
		padding: 0;
		margin: 0;
		li{ 
			list-style: none;
			margin-bottom: .75rem;
			list-style-position: inside;
			> i{
				width: 1.8rem;
				text-align: center;
				text-indent: 0;
			}
			&.info-logo{
                display: flex;
                flex-direction: column;
                line-height: 1.2;
                .lang-c{
                    font-size: 7vw;
                    font-weight: 500;
                    color: $green-100;
                    @media screen and (min-width: 576px) {
                    font-size: 1.75rem;    
                    }
                }
                .lang-e{
                    color: $orange-100;
                    font-size: 6vw;
                    @media screen and (min-width: 576px) {
                    font-size: 1.5rem;    
                    }
                }
                   
				>img{
					margin: 0 auto;
                    max-width: 450px; 
					@media screen and (min-width: 992px) {
					margin: 0;
					width: 15rem;
                    max-width: auto;   
					}
				}
			}
			&.info-title{
                > span{
                    display: block;
                    font-size: 1.0rem;
                    font-weight: 400;
                    &::before, &::after{
                        content: "";
                        display: inline-block;
                        width: 4rem;
                        height: 2px;
                        background-color: #FFF;
                        vertical-align: middle;
                        margin: -2px .5rem 0px .5rem;
                    }
                }
			}
			&.info-email{
				font-size: .9rem;
				font-weight: 400;
				letter-spacing: .1rem;
			}
			&.info-add{
				font-size: .8rem;
				letter-spacing: .05rem;
			}
            &.info-tel{
				font-size: .8rem;
				letter-spacing: .05rem;
			}
		}
		li:not(:first-child){
			padding-left: 1.8rem;
			text-indent: -1.8rem;
		}
	}
	.footer-logo-img{
		margin: 1rem auto;
		@media screen and (min-width: 992px) {
		margin-top: 6rem;	
		}
	}
}
.footer-copyright{
	background-color: $blue-900;
	color: #FFF;
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .8rem;
}